body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--text-bgc-white-color);
    color: var(--text-grey-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.15;
}
/* color: #2196F3; голубой цвет текста */
/* color: #212121; основной цвет текста чёрный (заголовки) */
/* color: #757575; основной цвет текста серый (р)*/
/* color: #FFFFFF; белый цвет текста */
/* color: rgba(255, 255, 255, 0.6); футер мыло и телефон */
/* background: #2F303A; футер фон */
/* background: #F5F4FA; фон серй */
:root{
    --text-blue-color: #2196F3;
    --title-black-color: #212121;
    --logo-text-color: #000000;
    --text-grey-color: #757575;
    --text-bgc-white-color: #FFFFFF;
    --adress-grey-capacity: rgba(255, 255, 255, 0.6);
    --dark-bgc:#2F303A;
    --light-grey-bgc: #F5F4FA;
}
/* Убрал точки со списков ul */
ul{
    list-style: none;
}
/* Убрал подчёркивание со ссылок */
a{
    text-decoration: none;
}
/* logo */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-one{
    color: var(--text-blue-color);
}
.logo-two {
    color: var(--logo-text-color);
}
.logo-three {
    color: var(--text-bgc-white-color);
}
/* nav */
.nav .nav-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-black-color);
}
.nav-link.active{
    color: var(--text-blue-color)
}
/* adress header */
.adress .adress-link{
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav .nav-link:hover,
.nav .nav-link:focus,
.adress .adress-link:hover,
.adress .adress-link:focus,
.footer-link:hover,
.footer-link:focus{
    color: var(--text-blue-color);
}


/* hero index*/
.hero{
    background-color: var(--dark-bgc);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-bgc-white-color);
    text-align: center;  
}
.hero-button{
    font-family: inherit;
    color: var(--text-bgc-white-color);
    background-color: var(--text-blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* benefits index*/
 .benefits-title{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-black-color)
 }
 .benefits-text{
    line-height: 1.7;      
 }
 /* working index*/
 .working-title,
 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-black-color);
    text-align: center;
 }
 /* team index*/
 .team{
    background-color: var(--light-grey-bgc);
 }
 .team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-black-color)
 }
.team-prof{
    font-size: 16px;
    line-height: 1.19;
}
/* filter portfolio */
.filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--title-black-color);
    background-color: var(--light-grey-bgc);
}
.filter-button:hover,
.filter-button:focus{
    color: var(--text-bgc-white-color);
    background-color: var(--text-blue-color);
}
 /* FOOTER */
 .footer{
     background-color: var(--dark-bgc);
 }
  .footer-address {
      line-height: 1.7;
      color: var(--text-bgc-white-color);
  }
 .footer-link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--adress-grey-capacity)
 }